# Damn Mac #
.DS_Store

*.class
bin
bin/*
*~
*.lock
*.DS_Store
*.swp
war/WEB-INF/lib/*

# Eclipse #
.settings/
.classpath
.project

# Intellij #
.idea
*.iml
out

# Maven #
target

# Package Files #
*.jar
*.war
*.ear
