iframe {
	border: none;
	overflow: hidden;
}

.my_verticalLine {
    border-left: thin solid gray;
}

.my_centeralign{
	display: inline-block; 
	text-align: center;	
}

.my_logobg {
	/* background-image: url("../img/bglogo.png");
	background-position: center;
	background-repeat: no-repeat; */
	min-height: 200px;
	text-align: center;
	position: relative;
}
.my_innerdiv{
	position: absolute;
	top: 30%;
	right: 30%;
}

.my_nomargin {
	margin: 0;
}

.my_ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.my_btnli {
	margin-top: 5px;
	margin-bottom: 12px;
}

.my_ulDigit {
	line-height: 70em;
	list-style-type: decimal;
	list-style-position: inside;
}

.my_headdivmargin{
	margin-top: 10px;
	margin-bottom: 30px;
}

.my_divmargin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.my_text_light {
	color: gray;
}

.my_div {
	float: left;
	border: 1px;
	border-left: 10px;
	border-color: #878787;
	border-style: solid;
	border-left-color: green;
	margin-bottom: 5px;
}

.my_li {
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
}

.li_2_col_left {
	float: left;
	width: 200px;
}

.li_2_col_right {
	padding-left: 15px;
	padding-top: 5px;
	float: right;
	text-align: left;
}
