body {
	font-size: 14px;
	margin-top: 0px;
}

hr {
	margin: 5px;
	width: inherit;
}

.info {
	color: grey;
}

.main_container {
	margin-top: 5px;
	text-align: left;
	display: inline-block;
	background-color: white;	
	padding: 0px 10px 10px 10px;
	width: 100%;
}
